

<div class="the-head backgroundImage">

<div class="containing">
<!--
<div id="mySidenavWide" class="sidenav-a-link col-xs-4">
  <a class="margin-a" href="#about">About</a>
  <a class="margin-a" href="#resume">Resume</a>
  <a class="margin-a" href="#contact">Contact</a>

  </div>
-->
  
    <span class="right head-t">Caleb McCarthy</span><br><br><br>
    <p class="title right">Web Developer</p> 
 
</div>
</div>


<!--
<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
-->