<div name="about" class="my-section">About Me</div>

<div class="a-line"><hr></div>

<p class="center"><img  align="left" class="img-circle me-pic" src="http://i.imgur.com/fv8lLEq.jpg" title="source: imgur.com" />I'm a full stack developer with experience in every major area of web development. I spent my first year and a half of professional software developing an angular web app for a travel company and now I'm working as a senior consultant for the energy industry, writting software to support power companies in the DFW area. I enjoy travel, learning new languages and deep conversations about technology.</p>