<div class="experienceSection">
<div name="experience" class="my-section">Experience</div>
<div class="a-line"><hr></div>
<div class="resume-details">
<label>FIS Capco Energy Solutions</label>
<span>Senior Consultant</span>
<span>february 2016 - present, Dallas, TX</span>
<p>Integrate two combined cycle power plants into the current internal web aplication. Designed and implemented all front end pages associated with the new power plant controls. Mentored new developer and taught the basics of web development, including making ajax calls, html, css, and javascript.</p>
<br>
<label>Lanyon</label>
<span>Java Developer</span>
<span>Nov 2014 to Feb 2016, Dallas, TX</span>
<p>Research, design, and implement scalable web apps for event planners.Collaborate closely with other team members to plan, design, and develop robust web based solutions.Primary development environment consist of IntelliJ IDE, Resin Application Server, Java back-end, and AngularJS as a front end framework.Responsible for teaching new hires basics of JSP and web development.</p>

</div>
<div name="education" class="my-section">Education</div>
<div class="a-line"><hr></div>
<div class="resume-details">
<label>Clemson University</label>
<span>bachelors of science in computer science</span>
<span>2014</span>
<p>Developed Ray Tracer in C and C++ with tree sorting algorithms. Created Email Client in Java with the Swing API Gained Experience in network programming.Genetic Algorithms and an introduction to artificial intelligence.Software design with UML diagrams. Parallel programming with MPI.</p>

</div>
<div name="personalprojects" class="my-section">Personal Projects</div>
<div class="a-line"><hr></div>
<div class="resume-details">
<label>www.Wizardsheets.com</label>


<p>An on-line character sheet storage system written in Angular 2, Node JS, and MongoDB. Served in an Ubuntu 14.04 image running on Amazon web EC2 web services. Written and managed 100% by me. Source is private while in development but maybe requested for review.</p>

<a href="http://www.WizardSheets.com">Demo</a>

<br>
</div>
<br>
<div class="resume-details">
<label>Chess</label>

<p>A playable chess board with HTML5's canvas. Only valid moves are allowed.</p>

<a href="http://camccar.github.io/Chess/">Demo</a>
<a href="https://github.com/camccar/Chess/tree/master/ChessGame">Source</a>

<br>


</div>

</div>