<div class="contacts" >
<div name="contact" class="my-section">Contact</div>

<div class="a-line"><hr></div>
<div class="contact-details">
	<a href="mailto:caleb.a.mccarthy@gmail.com?Subject=Hello%Caleb!"><i class="fa fa-envelope circle" aria-hidden="true"></i></a>&nbsp;<span class="contact-styles">If you would like to contact me, please email me at <a href="mailto:caleb.a.mccarthy@gmail.com?Subject=Hello%Caleb!">caleb.a.mccarthy@gmail.com</a></span><br><br>
	<a href="https://www.linkedin.com/in/caleb-a-mccarthy"><i  class="fa fa-linkedin circle" aria-hidden="true"></i></a>  <span class="contact-styles">You can also find me on LinkedIn</span> &nbsp;<a class="contact-styles" href="https://www.linkedin.com/in/caleb-a-mccarthy">https://www.linkedin.com/in/caleb-a-mccarthy</a><br><br>


<a href="assets/resume.pdf"><i class="fa fa-print circle" aria-hidden="true"></i></a>&nbsp;<span class="contact-styles">Printer Freindly Resume</span><br><br>	
</div>	
</div>
<div class="copyright"><i class="fa fa-copyright" aria-hidden="true">&nbsp;copyright 2016, Caleb McCarthy</i></div>