<!-- 1st row verticaly centered text in the square columns -->
<div class="section-wrapper">

<div class="my-section">Technical Highlight</div>

<div class="a-line"><hr></div>
<div class="section"> 
   
<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">HTML5</span>
  </div>
  <div class="card__back html5">
    <span class="card__text "></span>
  </div>
</div><!-- /card -->
<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">CSS3</span>
  </div>
  <div class="card__back CSS3">
    <span class="card__text"></span>
  </div>
</div><!-- /card -->

<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">JAVASCRIPT</span>
  </div>
  <div class="card__back javascript">
    <span class="card__text"></span>
  </div>
</div><!-- /card -->
<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">JQUERY</span>
  </div>
  <div class="card__back code">
    <span class="card__text sql">$(document). ready(function () "{{ '{' }}")write less do more "{{ '}' }}")</span>
  </div>
</div><!-- /card -->
<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">node.js</span>
  </div>
  <div class="card__back nodejs">
    <span class="card__text"></span>
  </div>
</div><!-- /card -->

<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">java</span>
  </div>
  <div class="card__back java">
    <span class="card__text"></span>
  </div>
</div><!-- /card -->

</div>

<!-- second section -->
<div class="section"> 
   
<div class="card effect__hover">
  <div class="card__front ">
    <span class="card__text ">ORACLE SQL</span>
  </div>
  <div class="card__back code">
    <span class="card__text sql">UPDATE *
SET id='1', 
WHERE name='0';</span>
  </div>
</div><!-- /card -->
<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">AGILE SCRUM</span>
  </div>
  <div class="card__back scrum">
    <span class="card__text"></span>
  </div>
</div><!-- /card -->

<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">ANGULAR JS</span>
  </div>
  <div class="card__back angularjs">
    <span class="card__text"></span>
  </div>
</div><!-- /card -->
<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">ANGULAR2</span>
  </div>
  <div class="card__back angular2">
    <span class="card__text"></span>
  </div>
</div><!-- /card -->
<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">MONGO DB</span>
  </div>
  <div class="card__back mongo">
    <span class="card__text"></span>
  </div>
</div><!-- /card -->

<div class="card effect__hover">
  <div class="card__front">
    <span class="card__text">EPRESS JS</span>
  </div>
  <div class="card__back expressjs">
    <span class="card__text"></span>
  </div>
</div><!-- /card -->
</div>
<div style="height:60px"></div>
</div>